.container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: var(--tile-size);
    left: var(--tile-size);

    z-index: var(--character-layer-z-index);
}

.character {
    width: var(--tile-size);
    height: var(--tile-size);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
