.container {
    display: flex;
    width: 100%;
    height: 100%;

    & .map {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        width: 100%;
        height: 100%;
    }

    & .tileSelector {

    }
}

.tile {
    display: flex;
}

.emptyTile {
    border: 1px red dashed;
    border-radius: 2px;
}