.container {
	position: relative;
	overflow: hidden;

	width: var(--screen-size);
	height: var(--screen-size);
}

.tilesContainer {
	display: grid;

	grid-auto-flow: column;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.objectsContainer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
