.container {
	display: flex;
	gap: var(--spacing-4);
	flex-direction: column;
	justify-content: space-between;
}

.contents {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-3);
}

.footer {
	display: flex;
	justify-content: flex-end;
	gap: var(--spacing-2);
}

.error {
	text-align: left;
	font-size: var(--font-size-small);
	color: var(--font-color-warning);
}