.container {
    height: 25px;
    width: 25px;
    overflow: hidden;
    white-space: nowrap;
}

.subContainer {
    overflow-x: scroll;
}

.animationTest {
    display: inline-block;
    height: 25px;
    width: 25px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.indigo {
    background-color: indigo;
}

.violet {
    background-color: violet;
}