/* TODO: Woudl be nice if this calculated grids/columns based VIEW_AREA_SIDE_LENGTH */
.container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-auto-flow: column;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
}